@using _072_HammadArshad_Task1.Models
@model Tuple<List<Contact>, List<Product>>
@{
    ViewBag.Title = "Admin";
}

<div class="container py-3">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Contact Us
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (Model.Item1.Count > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered text-center">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Update</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                                @foreach (var item in Model.Item1)
                                {
                                    <tr>
                                        <td>@item.uname</td>
                                        <td>@item.uemail</td>
                                        <td><a class="btn btn-outline-success" href="/admin/update/@item.Id">Edit</a></td>
                                        <td><a class="btn btn-outline-primary" href="/admin/viewcontact/@item.Id">View</a></td>
                                        <td><a class="btn btn-outline-danger" href="/admin/delete/@item.Id">Delete</a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <h1 class="text-center">No Data Found</h1>
                    }
                </div>
            </div>
        </div>
    </div>

    @*Products Handling*@
    <section class="products-handle my-3">
        <h1 class="text-center">Products List</h1>
        <div class="search-section">
            <div class="row justify-content-center">
                <div class="col-12">
                    <form asp-controller="Admin" asp-action="Index" method="post">
                        <div class="row">
                            <div class="col-9">
                                <input type="search" name="search" class="form-control" placeholder="Search" />
                            </div>
                            <div class="col-3">
                                <button style="width:100%" class="btn btn-outline-dark">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-primary" asp-controller="admin" asp-action="addproduct">Add Product</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-primary" asp-controller="admin" asp-action="AddCategory">Add Category</a>
                </div>
            </div>
        </div>
        @if (Model.Item2.Count > 0)
        {
            <div class="table-responsive my-2">
                <table class="table table-striped table-bordered text-center">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td>@item.product_name</td>
                            <td>@item.product_price</td>
                            <td><a class="btn btn-outline-success" asp-controller="shop" asp-action="shopedit" asp-route-Id="@item.Id">Edit</a></td>
                            <td><a class="btn btn-outline-danger" asp-controller="shop" asp-action="ShopDelete" asp-route-Id="@item.Id">Delete</a></td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <h4 class="text-center">No Data Found</h4>
        }
    </section>
</div>
